body {
    background-image: url('../images/form bg.png') !important;
    backdrop-filter: brightness(0.6);
    background-size: cover;
    overflow-y: auto;
    @media (min-width: 930px) {
        padding-bottom: 393px;
    }
    @media (max-width: 930px) {
        padding-bottom: 813px !important;
    }
    @media (max-width: 850px) {
        padding-bottom: 449px !important;
        background-image: url('../images/form bg adaprive.png') !important;
        // background-size: 338% !important;
    }
    @media (max-width: 600px) {
        padding-bottom: 400px !important;
    }
    @media (max-width: 400px) {
        background-size: 168% !important;
    }
    @media (max-width: 350px) {
        padding-bottom: 354px !important;
    }
}

